
<hr/>
<br />
<div style="margin-left:3vw;margin-right:3vw">
    <h4>&nbsp;&nbsp;Funding Your Account</h4>
<pre style="background-color:lemonchiffon;border-radius:10px;width:100%">

To fund your Super Yield account, please send a check payable to:

   Charles Ponzi 
   c/o Super Yield
   Paradeplatz 8
   8070 Zurich, Switzerland

Be sure to include your email address and phone number on your check.

</pre>
    <br />

    <h4>&nbsp;&nbsp;Withdrawing From Your Account</h4>

<pre style="background-color:lemonchiffon;border-radius:10px;width:100%">

Withdrawals must be done in person at:

   Super Yield
   P.O. Box 2536
   Minchin, Bolivia 15000

The office is open the first Tuesday of each month 4 AM - 4:05 AM.
Withdrawals are done in Greek Drachmas at the current exchange rate.

</pre>
    </div>
