
<table style="background-image:url('../../Content/MountainBlue12x4.jpg');height:400px;width:100%;background-position:center">
    <tr><td align="center" valign="top" style="font-size:xx-large;font-family:HelNeueLight, Arial;padding-top:80px;color:darkslategrey">Super Yield<br />
        <input type="button" class="btn-bluegrd" style="font-size:18px;padding:0px; height:28px;width:110px;margin-top:30px;border-color:transparent" value="Start Now" onclick="location.href='@Url.Action("Register", "Account", routeValues: null)'" /></td>
    </tr>
</table>
<!--<img src="~/Content/MountainBlue8x6.jpg" style="width:100%"/>-->

<!--
<center>
    <div style="padding:15px;background-color:indianred;color:navajowhite">
        <h4 style="font-weight:900;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;font-size:2vw">
            This site is under development.<br /> Super Yield is not currently accepting new investors.
            <br /><br />If you would like to be notified when Super Yield goes live,<br /> please use our
            @Html.ActionLink("Contact Us", "Create", "ContactUs", null, new { style = "color:ghostwhite" }) page.<br />
        </h4>
    </div>
</center>
-->


<center>
    <br /><br />
    <h1>Pre-Settlement Funds</h1>
    <div class="divsectionclr">
        <div style="width:90%; max-width:850px;font-family:HelNeueLight, Arial">

            <table style="width:100%;" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <table cellpadding="0" cellspacing="0">
                            <tr>
                                <td style="vertical-align:middle; text-align:center;padding:20px" valign="top"><h2 style="font-family:HelNeueLight, Arial">Fund Focus</h2><span style="padding:5px;text-align:center;font-family:HelNeueLight, Arial;font-size:large"><br />Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br /><br /></span></td>
                                <td style="background-image:url('../../Content/InvPages/Color/TopRightPaint.png');background-size:cover;background-position:left;"></td>
                            </tr>
                            <tr>
                                <td style="background-image:url('../../Content/InvPages/Color/2ndLeftPaint.png');background-size:cover;background-position:right;"></td>
                                <td style="vertical-align:middle;text-align:center;padding:20px" valign="top"><h2 style="font-family:HelNeueLight, Arial">Why We Like This Investment</h2><span style="padding:5px;text-align:center;font-family:HelNeueLight, Arial;font-size:large"><br />Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br /><br /></span></td>
                            </tr>
                            <tr>
                                <td style="vertical-align:middle; text-align:center;padding:20px" valign="top"><h2 style="font-family:HelNeueLight, Arial">Key Aspects</h2><span style="padding:5px;text-align:center;font-family:HelNeueLight, Arial;font-size:large"><br />Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br /><br /></span></td>
                                <td style="background-image:url('../../Content/InvPages/Color/3rdRightPaint.png');background-size:cover;background-position:left;"></td>
                            </tr>
                            <tr>
                                <td style="background-image:url('../../Content/InvPages/Color/4thLeftPaint.png');background-size:cover;background-position:right;"></td>
                                <td style="vertical-align:middle;text-align:center;padding:20px" valign="top"><h2 style="font-family:HelNeueLight, Arial">How It Works</h2><span style="padding:5px;text-align:center;font-family:HelNeueLight, Arial;font-size:large"><br />Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br /><br /></span></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div style="width:90%; max-width:850px;">
        <table style="width:95%;">
            <tr><td align="center"><h4><b>FUND INFORMATION</b></h4></td><td></td><td></td></tr>
            <tr>
                <td>
                    <table class="table table-striped">
                        <tr><td>Year Started</td><td>2015</td></tr>
                        <tr><td>Portfolio Value</td><td>$124M</td></tr>
                        <tr><td>Portfolio Growth</td><td>35%</td></tr>
                        <tr><td>Minimum Term</td><td>4 Years</td></tr>
                        <tr><td>Active Investments</td><td>27</td></tr>
                        <tr><td>Average IRR</td><td>15.2%</td></tr>
                        <tr><td>Fund Manager</td><td>Charles Ponzi</td></tr>
                        <tr><td>Industries</td><td>Legal, Private Loan</td></tr>
                        <tr><td>Market Coorelation</td><td>Low</td></tr>
                    </table>
                </td>
                <td style="width:80px">&nbsp;</td>
                <td align="center">
                    <table>
                        <tr><td></td><td align="center"><h4><b>RISK / RETURN PROFILE</b></h4></td></tr>
                        <tr>
                            <td style="width:20px"><span style="writing-mode: vertical-lr;transform: rotate(180deg);">Return&nbsp;&rarr;</span></td>
                            <td>
                                <table border="1" style="border:1px solid darkolivegreen">
                                    <tr style="height:50%">
                                        <td align="center" style="vertical-align:middle;padding:30px;background-color:lightblue"><table><tr><td align="center">Low Risk</td></tr><tr><td style="background-color:darkcyan"></td></tr><tr><td align="center">High Return</td></tr></table></td>
                                        <td align="center" style="vertical-align:middle;padding:30px;background-color:transparent"><table><tr><td align="center">High Risk</td></tr><tr><td style="background-color:darkcyan"></td></tr><tr><td align="center">High Return</td></tr></table></td>
                                    </tr>
                                    <tr style="height:50%">
                                        <td align="center" style="vertical-align:middle;padding:30px;background-color:transparent"><table><tr><td align="center">Low Risk</td></tr><tr><td style="background-color:darkcyan"></td></tr><tr><td align="center">Low Return</td></tr></table></td>
                                        <td align="center" style="vertical-align:middle;padding:30px;background-color:transparent"><table><tr><td align="center">High Risk</td></tr><tr><td style="background-color:darkcyan"></td></tr><tr><td align="center">Low Return</td></tr></table></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr><td></td><td align="center">Risk&nbsp;&rarr;</td></tr>
                    </table>
                </td>
            </tr>
        </table>
        <br /><br /><br /><br />
        <br /><br /><br /><br />
    </div>

    <div class="divsection">
        <center>
            <input type="button" class="btn-bluegrd" style="font-size:large;padding:10px;padding-left:20px;padding-right:20px" value="Start Investing Now" onclick="location.href='@Url.Action("Register", "Account", routeValues: null)'" />
            <br /><br /><br /><br /><br />
        </center>

        <table>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td style="padding-left:10px;padding-right:10px"><img src="~/Content/hotgirl1.png" style="width:80px" /></td>
                            <td style="padding-left:10px;padding-right:10px"><img src="~/Content/hotgirl2.png" style="width:80px" /></td>
                            <td style="padding-left:10px;padding-right:10px"><img src="~/Content/hotgirl3.png" style="width:80px" /></td>
                        </tr>
                        <tr><td style="text-align:center">Alex</td><td style="text-align:center">Natalie</td><td style="text-align:center">Dylan</td><td></td></tr>
                    </table>
                </td>
                <td style="padding-left:10px;padding-right:10px"><h3>Need help getting started?</h3>Our investments team would love to assist you.<br /><br /></td>
            </tr>
        </table>
        <br /><br /><br />
        <a class="btn-bluegrd" style="padding:10px;padding-left:20px;padding-right:20px" href="mailto:Info@SuperYield.net" target="_blank"><span style="font-size:large;padding:0;margin:0">&#9993;</span> Info@SuperYield.net</a>
        &nbsp;&nbsp;&nbsp;
        @Html.ActionLink("Contact Us", "Create", "ContactUs", null, new { @class = "btn-bluegrd", style = "padding:10px; padding - left:20px; padding - right:20px" })
    </div>

    <div style="height:50px"></div>
    <div style="font-size:x-small;width:100%;background-color:#fefefe">
        <br /><br />
        <center>
            <div style="font-size:x-small;width:90%;text-align:left">
                Super Yield operates a website at SuperYield.net (the “Site”). By using this website, you accept our Terms of Use and Privacy Policy. Past performance is no guarantee of future results. Any historical returns, expected returns, or probability projections may not reflect actual future performance. All securities involve risk and may result in partial or total loss. While the data we use from third parties is believed to be reliable, we cannot ensure the accuracy or completeness of data provided by investors or other third parties. Neither Super Yield nor any of its affiliates provide tax advice and do not represent in any manner that the outcomes described herein will result in any particular tax consequence. Prospective investors should confer with their personal tax advisors regarding the tax consequences based on their particular circumstances. Neither Super Yield nor any of its affiliates assume responsibility for the tax consequences for any investor of any investment.
                <br /><br />
                The publicly filed offering circulars of the issuers sponsored by Super Yield, not all of which may be currently qualified by the Securities and Exchange Commission, may be found at SuperYield.net.
                <br /><br />
                THIS SITE IS UNDER DEVELOPMENT. Super Yield is in no way responsible for it's current content.
                <br /><br />
                © 2019 Super Yield, LLC. All Rights Reserved.
                <br /><br />
                Site Credits:........
                <br /><br /><br />
            </div>
        </center>
    </div>
    <br />

</center>
