<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/57ab5b45-8509-4a28-9573-2ea83449f8e3/resourceGroups/SuperYield/providers/Microsoft.Web/sites/SYClient</ResourceId>
    <ResourceGroup>SuperYield</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://syclient.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>syclient.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SYClient</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SYClient</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="xxxDefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:yielddb.database.windows.net,1433;Initial Catalog=yielddb;User ID=syadmin@yielddb.database.windows.net;Password=SuperYield1" Name="Data Source=tcp:yielddb.database.windows.net,1433;Initial Catalog=yielddb;User Id=syadmin@yielddb.database.windows.net;Password=SuperYield1;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-SYMVC-20190114103925.mdf;Initial Catalog=aspnet-SYMVC-20190114103925;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\xxxDefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-SYMVC-20190114103925.mdf;Initial Catalog=aspnet-SYMVC-20190114103925;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="YieldDB_Int" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:yielddb.database.windows.net,1433;Initial Catalog=yielddb;User ID=syadmin@yielddb.database.windows.net;Password=SuperYield1" Name="Data Source=tcp:yielddb.database.windows.net,1433;Initial Catalog=yielddb;User Id=syadmin@yielddb.database.windows.net;Password=SuperYield1;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\SQLEXPRESS;Initial Catalog=YieldDB;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\YieldDB_Int_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.\SQLEXPRESS;Initial Catalog=YieldDB;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="YieldDB_SA" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:yielddb.database.windows.net,1433;Initial Catalog=yielddb;User ID=syadmin@yielddb.database.windows.net;Password=SuperYield1" Name="Data Source=tcp:yielddb.database.windows.net,1433;Initial Catalog=yielddb;User Id=syadmin@yielddb.database.windows.net;Password=SuperYield1;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\SQLEXPRESS;Initial Catalog=YieldDB;User ID=sa;Password=superyield" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\YieldDB_SA_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.\SQLEXPRESS;Initial Catalog=YieldDB;User Id=sa;Password=superyield;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="YieldDB" Order="4" Enabled="False">
          <Destination Path="Data Source=tcp:yielddb.database.windows.net,1433;Initial Catalog=yielddb;User ID=syadmin@yielddb.database.windows.net;Password=SuperYield1" Name="Data Source=tcp:yielddb.database.windows.net,1433;Initial Catalog=yielddb;User Id=syadmin@yielddb.database.windows.net;Password=SuperYield1;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\SQLEXPRESS;Initial Catalog=YieldDB;User ID=sa;Password=superyield" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\YieldDB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.\SQLEXPRESS;Initial Catalog=YieldDB;User Id=sa;Password=superyield;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="YieldDB_SA-Web.config Connection String">
      <ParameterValue>Data Source=tcp:yielddb.database.windows.net,1433;Initial Catalog=yielddb;User Id=syadmin@yielddb.database.windows.net;Password=SuperYield1;</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="YieldDB_Int-Web.config Connection String">
      <ParameterValue>Data Source=tcp:yielddb.database.windows.net,1433;Initial Catalog=yielddb;User Id=syadmin@yielddb.database.windows.net;Password=SuperYield1;</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="YieldDB-Web.config Connection String">
      <ParameterValue>Data Source=tcp:yielddb.database.windows.net,1433;Initial Catalog=yielddb;User Id=syadmin@yielddb.database.windows.net;Password=SuperYield1;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="xxxDefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:yielddb.database.windows.net,1433;Initial Catalog=yielddb;User Id=syadmin@yielddb.database.windows.net;Password=SuperYield1;</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>