
<table style="background-image:url('../../Content/MountainBlue8x6.jpg');height:400px;width:100%;background-position:center">
    <tr><td align="center" valign="top" style="font-size:x-large;font-family:HelNeueLight, Arial;padding-top:80px;color:darkslategrey">Put Your Money To Work<br />
        <input type="button" class="btn-bluegrd" style="font-size:18px;padding:0px; height:28px;width:110px;margin-top:30px;border-color:transparent" value="Start Now" onclick="location.href='@Url.Action("Register", "Account", routeValues: null)'" /></td>
    </tr>
</table>
<!--<img src="~/Content/MountainBlue8x6.jpg" style="width:100%"/>-->

<!--
<center>
    <div style="padding:15px;background-color:indianred;color:navajowhite">
        <h4 style="font-weight:900;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;font-size:3vw">
            This site is under development.<br /> Super Yield is not currently accepting new investors.
            <br /><br />If you would like to be notified when Super Yield goes live,<br /> please use our
            @Html.ActionLink("Contact Us", "Create", "ContactUs", null, new { style = "color:ghostwhite" }) page.<br />
        </h4>
    </div>
</center>
-->

<center>
    <div class="divsectionclr">
        <div style="width:95%;font-family:HelNeueLight, Arial">
            <table style="width:100%">
                <tr>
                    <td style="width:50%">
                        <table>
                            <tr><td colspan="2" style="text-align:center;"><h2 style="font-family:HelNeueLight, Arial">Unlock opportunities in asset-based investing.</h2></td></tr>
                            <tr><td colspan="2" style="padding:5px;text-align:center;font-family:HelNeueLight, Arial;font-size:large">You can invest your money, according to your goals, in a portfolio filled with dozens of investment projects — each one carefully handpicked and proactively developed with the goal of growing your net worth.<br /><br /></td></tr>
                            <tr><td style="padding:5px"><img src="~/Content/ArrowCircle.png" style="width:40px" /></td><td style="padding-left:5px"><h4><b>15 – 22%</b> historical annual returns</h4></td></tr>
                            <tr><td style="padding:5px"><img src="~/Content/ArrowCircle.png" style="width:40px" /></td><td style="padding-left:5px"><h4><b>Diversify</b> your portfolio with settlement loans, real estate, and debt finance</h4></td></tr>
                            <tr><td style="padding:5px"><img src="~/Content/ArrowCircle.png" style="width:40px" /></td><td style="padding-left:5px"><h4><b>Maximize</b> your earnings with our low-fee approach</h4></td></tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <center><img src="../../Content/laptop_tablet_phone.png" style="width:75vw;padding-top:15px" /></center>
    </div>

    <div class="divsection">
        <div style="text-align:center;width:95%">
            <table style="margin:auto">
                <tr><td><h2>Add high-return projects to your portfolio.</h2></td></tr>
                <tr><td><img src="~/Content/CircuitIcons.png" style="width:100%;padding-top:20px" /></td></tr>
                <tr><td style="text-align:center;font-family:HelNeueLight, Arial;font-size:large"><br />Invest in million-dollar deals without writing million-dollar checks. We make it easy to track your investments, and will keep you updated on each project’s progress.</td></tr>
            </table>
        </div>
    </div>

    <div class="divsectionclr">
        <div style="text-align:center;width:95%">
            <table style="margin:auto;">
                <tr><td style="padding:5px"><h2>Pair security with performance.</h2></td></tr>
                <tr><td style="padding:5px;font-family:HelNeueLight, Arial;font-size:large">Regardless of your net worth, you can now benefit from Super Yield's unique potential for generating consistent cash flow and long-term appreciation. This is a level of asset-based investing that was previously available only to the wealthiest investors and institutions.</td></tr>
            </table>
        </div>

        <div>
            <br />
            <p style="text-align:center;font-size:large;font-family:HelNeueBold, Arial;margin-top:18px;margin-bottom:15px"><b>$1000 Compounded 10 Year Growth</b></p>
            <img src="../../Content/ChartPctBlue.png" style="width:77vw;box-shadow: 5px 5px 2px grey" />
            <table>
                <tr><td style="font-family:HelNeueBold, Arial;font-size:large;padding-top:20px" align="center"><b>10 Yr Total Return</b></td></tr>
                <tr>
                    <td valign="top" style="padding-top:10px" align="center">
                        <table>
                            <tr style="border-width:thick;"><td style="text-align:center;border-right:solid thin;padding:20px;padding-left:30px;padding-right:30px"><b>Yearly<br />Growth</b></td><td style="padding:20px;padding-left:30px;padding-right:30px" align="center"><b>Total<br />Return</b></td></tr>
                            <tr style="border-width:thick;border-top:solid thin"><td style="text-align:center;border-right:solid thin;padding:5px">10 %</td><td align="center">159 %</td></tr>
                            <tr style="border-width:thick;border-top:solid thin;"><td style="text-align:center;border-right:solid thin;padding:5px">15 %</td><td align="center">304 %</td></tr>
                            <tr style="border-width:thick;border-top:solid thin;border-bottom:solid thin;"><td style="text-align:center;border-right:solid thin;padding:5px">20 %</td><td align="center">519 %</td></tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>

        <div class="divsection">
            <table style="width:100%;">
                <tr><td colspan="5" style="text-align:center;font-size:xx-large;font-family:HelNeueLight, Arial;padding-left:4%;padding-right:4%;">INVESTMENT OPPORTUNITIES<br /></td></tr>
                <tr><td>&nbsp;</td></tr>
                <tr>
                    <td style="width:4%" />
                    <td onclick="window.location.href = '/?inv=1';" class="shad" style="cursor: pointer;width:45%;padding:0px;margin:0px;background-color:cornflowerblue"><img src="../../Content/GavelBlack8x6.jpg" style="width:100%;"></td>
                    <td style="width:2%" />
                    <td onclick="window.location.href = '/?inv=2';" class="shad" style="cursor: pointer;width:45%;padding:0px;margin:0px;background-color:cornflowerblue"><img src="../../Content/sean-pollock-203658-building-8x6.jpg" style="width:100%" /></td>
                    <td style="width:4%" />
                </tr>
                <tr>
                    <td></td>
                    <td onclick="window.location.href = '/?inv=1';" class="shad grdgrn" style="cursor: pointer;padding:5px;margin:0px;text-align:center;border-bottom-left-radius:7px;border-bottom-right-radius:7px;">Pre-settlement funding<center><table style="width:70%;margin:3px"><tr><td style="height:2px;background-color:dodgerblue"></td></tr></table></center>13% IRR<br />500 Day Holding<br />Open</td>
                    <td></td>
                    <td onclick="window.location.href = '/?inv=2';" class="shad grdgrn" style="cursor: pointer;padding:5px;margin:0px;text-align:center;border-bottom-left-radius:7px;border-bottom-right-radius:7px;">Commercial and residential real estate<center><table style="width:70%;margin:3px"><tr><td style="height:2px;background-color:dodgerblue"></td></tr></table></center>10% IRR<br />450 Day Holding<br />Open</td>
                </tr>
                <tr><td colspan="5">&nbsp;</td></tr>
                <tr><td colspan="5">&nbsp;</td></tr>
                <tr>
                    <td style="" />
                    <td onclick="window.location.href = '/?inv=4';" class="shad" style="cursor: pointer;padding:0px;margin:0px;background-color:cornflowerblue"><img src="../../Content/Franchise.png" style="width:100%" /></td>
                    <td style="" />
                    <td onclick="window.location.href = '/?inv=5';" class="shad" style="cursor: pointer;padding:0px;margin:0px;background-color:cornflowerblue"><img src="../../Content/cashregister.jpg" style="width:100%;" /></td>
                    <td style="" />
                </tr>
                <tr>
                    <td></td>
                    <td onclick="window.location.href = '/?inv=4';" class="shad grdgrn" style="cursor: pointer;padding:5px;margin:0px;text-align:center;border-bottom-left-radius:7px;border-bottom-right-radius:7px;">Retail stores and franchises<center><table style="width:70%;margin:3px"><tr><td style="height:2px;background-color:dodgerblue"></td></tr></table></center>14% IRR<br />50 Day Holding<br />Open</td>
                    <td></td>
                    <td onclick="window.location.href = '/?inv=5';" class="shad grdgrn" style="cursor: pointer;padding:5px;margin:0px;text-align:center;border-bottom-left-radius:7px;border-bottom-right-radius:7px;">Debt Purchasing<center><table style="width:70%;margin:3px"><tr><td style="height:2px;background-color:dodgerblue"></td></tr></table></center>15% IRR<br />100 Day Holding<br />Open</td>
                </tr>
                <tr><td colspan="5">&nbsp;</td></tr>
                <tr><td colspan="5">&nbsp;</td></tr>
                <tr>
                    <td style="" />
                    <td onclick="window.location.href = '/?inv=3';" class="shad" style="cursor: pointer;padding:0px;margin:0px;background-color:cornflowerblue"><img src="../../Content/pepi-stojanovski-509192-8x6.jpg" style="width:100%" /></td>
                    <td style="" />
                    <td onclick="window.location.href = '/?inv=6';" class="shad" style="cursor: pointer;padding:0px;margin:0px;background-color:cornflowerblue"><img src="../../Content/markos-mant-672369-sailboat-8x6.jpg" style="width:100%;" /></td>
                    <td style="" />
                </tr>
                <tr>
                    <td></td>
                    <td onclick="window.location.href = '/?inv=3';" class="shad grdgrn" style="cursor: pointer;padding:5px;margin:0px;text-align:center;border-bottom-left-radius:7px;border-bottom-right-radius:7px;">Securities based lending<br />Merchant lending<center><table style="width:70%;margin:3px"><tr><td style="height:2px;background-color:dodgerblue"></td></tr></table></center>14% IRR<br />50 Day Holding<br />Open</td>
                    <td></td>
                    <td onclick="window.location.href = '/?inv=6';" class="shad grdgrn" style="cursor: pointer;padding:5px;margin:0px;text-align:center;border-bottom-left-radius:7px;border-bottom-right-radius:7px;">Exploring new investments<center><table style="width:70%;margin:3px"><tr><td style="height:2px;background-color:dodgerblue"></td></tr></table></center>15% IRR<br />100 Day Holding<br />Open</td>
                </tr>
            </table>
        </div>

    <div class="divsectionclr">
        <center>
            <table style="width:100%">
                <tr><td align="center" style="padding-left:20px;padding-right:20px;padding-bottom:20px"><span style="font-size:40px;font-family:HelNeueLight, Arial;color:#007F46">Why Choose Super Yield</span></td></tr>
                <tr><td align="center"><img src="../../Content/WhyChooseLightSmall.png" style="width:100%;max-width:850px;padding-left:3vw" /></td></tr>
            </table>
        </center>
    </div>


        <div class="divsection" style="width:100%">
            <div style="width:90%;padding-bottom:10px">
                <h2>With a variety of investment choices, you can choose a portfolio based on your investment goals.</h2>
            </div>
            <table style="width:90%;margin-bottom:20px">
                <tr>
                    <td style="padding:0;background-color:ghostwhite;border-left:solid;border-right:solid;border-top:solid; border-width:1px">
                        <img src="../../Content/SunRiverClip.png" style="width:100%" />
                    </td>
                </tr>
                <tr>
                    <td align="center" style="font-weight:700;font-size:x-large;padding:10px;background-color:ghostwhite;border-left:solid;border-right:solid;border-width:1px;font-family:HelNeueLight, Arial">Supplemental Income</td>
                <tr>
                    <td style="background-color:ghostwhite;padding:10px;border-left:solid;border-right:solid;border-width:1px;font-family:HelNeueLight, Arial;font-size:large" align="center">Portfolio predominantly comprised of cash-flow producing investments</td>
                </tr>
                <tr>
                    <td align="center" style="background-color:ghostwhite;border-left:solid;border-right:solid;border-bottom:solid;border-width:1px">
                        <table style="width:85%;margin-left:10vw;margin-bottom:2vw">
                            <tr>
                                <td style="width:10%;font-family:HelNeueLight, Arial">Dividends</td>
                                <td style="padding-left:1vw">
                                    <table style="width:80%">
                                        <tr>
                                            <td style="width:85%;padding:0;"><img src="../../Content/TransPixel.png" style="width:100%;height:5px;background-color:lightseagreen;border-bottom-left-radius:3px;border-top-left-radius:3px" /></td>
                                            <td style="width:15%;padding:0"><img src="../../Content/TransPixel.png" style="width:100%;height:5px;background-color:lightgray;border-bottom-right-radius:3px;border-top-right-radius:3px" /></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:auto;font-family:HelNeueLight, Arial">Appreciation</td>
                                <td style="padding-left:1vw">
                                    <table style="width:80%">
                                        <tr>
                                            <td style="width:20%;padding:0;"><img src="../../Content/TransPixel.png" style="width:100%;height:5px;background-color:lightseagreen;border-bottom-left-radius:3px;border-top-left-radius:3px" /></td>
                                            <td style="width:80%;padding:0"><img src="../../Content/TransPixel.png" style="width:100%;height:5px;background-color:lightgray;border-bottom-right-radius:3px;border-top-right-radius:3px" /></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <table style="width:90%;margin-bottom:20px">
                <tr>
                    <td style="padding:0;background-color:ghostwhite;border-left:solid;border-right:solid;border-top:solid; border-width:1px">
                        <img src="../../Content/BalanceRockClip.png" style="width:100%" />
                    </td>
                </tr>
                <tr>
                    <td align="center" style="font-weight:700;font-size:x-large;padding:10px;background-color:ghostwhite;border-left:solid;border-right:solid;border-width:1px;font-family:HelNeueLight, Arial">Balanced Portfolio</td>
                <tr>
                    <td style="background-color:ghostwhite;padding:10px;border-left:solid;border-right:solid;border-width:1px;font-family:HelNeueLight, Arial;font-size:large" align="center">Build Wealth Confidently With A Diversified Portfolio All From One Place</td>
                </tr>
                <tr>
                    <td align="center" style="background-color:ghostwhite;border-left:solid;border-right:solid;border-bottom:solid;border-width:1px">
                        <table style="width:85%;margin-left:10vw;margin-bottom:2vw">
                            <tr>
                                <td style="width:10%;font-family:HelNeueLight, Arial">Dividends</td>
                                <td style="padding-left:1vw">
                                    <table style="width:80%">
                                        <tr>
                                            <td style="width:50%;padding:0;"><img src="../../Content/TransPixel.png" style="width:100%;height:5px;background-color:lightseagreen;border-bottom-left-radius:3px;border-top-left-radius:3px" /></td>
                                            <td style="width:50%;padding:0"><img src="../../Content/TransPixel.png" style="width:100%;height:5px;background-color:lightgray;border-bottom-right-radius:3px;border-top-right-radius:3px" /></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:auto;font-family:HelNeueLight, Arial">Appreciation</td>
                                <td style="padding-left:1vw">
                                    <table style="width:80%">
                                        <tr>
                                            <td style="width:50%;padding:0;"><img src="../../Content/TransPixel.png" style="width:100%;height:5px;background-color:lightseagreen;border-bottom-left-radius:3px;border-top-left-radius:3px" /></td>
                                            <td style="width:50%;padding:0"><img src="../../Content/TransPixel.png" style="width:100%;height:5px;background-color:lightgray;border-bottom-right-radius:3px;border-top-right-radius:3px" /></td>
                                        </tr>
                                    </table>
                                </td>

                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <table style="width:90%">
                <tr>
                    <td style="padding:0;background-color:ghostwhite;border-left:solid;border-right:solid;border-top:solid;border-width:1px">
                        <img src="../../Content/SunflowerClip.png" style="width:100%" />
                    </td>
                </tr>
                <tr>
                    <td align="center" style="font-weight:700;font-size:x-large;padding:10px;background-color:ghostwhite;border-left:solid;border-right:solid;border-width:1px;font-family:HelNeueLight, Arial">Growth</td>
                <tr>
                    <td style="background-color:ghostwhite;padding:10px;border-left:solid;border-right:solid;border-width:1px;font-family:HelNeueLight, Arial;font-size:large" align="center">Portfolio Geared towards Higher Long-Term Returns</td>
                </tr>
                <tr>
                    <td align="center" style="background-color:ghostwhite;border-left:solid;border-right:solid;border-bottom:solid;border-width:1px">
                        <table style="width:85%;margin-left:10vw;margin-bottom:2vw">
                            <tr>
                                <td style="width:10%;font-family:HelNeueLight, Arial">Dividends</td>
                                <td style="padding-left:1vw">
                                    <table style="width:80%">
                                        <tr>
                                            <td style="width:30%;padding:0;"><img src="../../Content/TransPixel.png" style="width:100%;height:5px;background-color:lightseagreen;border-bottom-left-radius:3px;border-top-left-radius:3px" /></td>
                                            <td style="width:70%;padding:0"><img src="../../Content/TransPixel.png" style="width:100%;height:5px;background-color:lightgray;border-bottom-right-radius:3px;border-top-right-radius:3px" /></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:auto;font-family:HelNeueLight, Arial">Appreciation</td>
                                <td style="padding-left:1vw">
                                    <table style="width:80%">
                                        <tr>
                                            <td style="width:70%;padding:0;"><img src="../../Content/TransPixel.png" style="width:100%;height:5px;background-color:lightseagreen;border-bottom-left-radius:3px;border-top-left-radius:3px" /></td>
                                            <td style="width:30%;padding:0"><img src="../../Content/TransPixel.png" style="width:100%;height:5px;background-color:lightgray;border-bottom-right-radius:3px;border-top-right-radius:3px" /></td>
                                        </tr>
                                    </table>
                                </td>

                            </tr>
                        </table>
                    </td>
                </tr>

            </table>
            <br />
        </div>

        <div class="divsectionclr" style="width:100%;" align="center">
            <img src="../../Content/howitworkssimplesmall.png" style="width:90%" />
        </div>

    <div class="divsection">
        <center>
            <input type="button" class="btn-bluegrd" style="font-size:large;padding:10px;padding-left:20px;padding-right:20px" value="Start Investing Now" onclick="location.href='@Url.Action("Register", "Account", routeValues: null)'" />
        </center>
        <br />
        <br />
        <br />
        <div><h3>Need help getting started?</h3>Our investments team would love to assist you.<br /><br /></div>

        <table>
            <tr>
                <td style="padding-left:10px;padding-right:10px"><img src="~/Content/hotgirl1.png" style="width:80px" /></td>
                <td style="padding-left:10px;padding-right:10px"><img src="~/Content/hotgirl2.png" style="width:80px" /></td>
                <td style="padding-left:10px;padding-right:10px"><img src="~/Content/hotgirl3.png" style="width:80px" /></td>
            </tr>
            <tr><td style="text-align:center">Alex</td><td style="text-align:center">Natalie</td><td style="text-align:center">Dylan</td><td></td></tr>
        </table>
        <br /><br /><br />
        <a class="btn-bluegrd" style="padding:10px;padding-left:20px;padding-right:20px" href="mailto:Info@SuperYield.net" target="_blank"><span style="font-size:large;padding:0;margin:0">&#9993;</span> Info@SuperYield.net</a>
        &nbsp;&nbsp;&nbsp;
        @Html.ActionLink("Contact Us", "Create", "ContactUs", null, new { @class = "btn-bluegrd", style = "padding:10px; padding - left:20px; padding - right:20px" })
    </div>

    <div style="height:50px"></div>
    <div style="font-size:x-small;width:100%;background-color:#fefefe">
        <br /><br />
        <center>
            <div style="font-size:x-small;width:90%;text-align:left">
                Super Yield operates a website at SuperYield.net (the “Site”). By using this website, you accept our Terms of Use and Privacy Policy. Past performance is no guarantee of future results. Any historical returns, expected returns, or probability projections may not reflect actual future performance. All securities involve risk and may result in partial or total loss. While the data we use from third parties is believed to be reliable, we cannot ensure the accuracy or completeness of data provided by investors or other third parties. Neither Super Yield nor any of its affiliates provide tax advice and do not represent in any manner that the outcomes described herein will result in any particular tax consequence. Prospective investors should confer with their personal tax advisors regarding the tax consequences based on their particular circumstances. Neither Super Yield nor any of its affiliates assume responsibility for the tax consequences for any investor of any investment.
                <br /><br />
                The publicly filed offering circulars of the issuers sponsored by Super Yield, not all of which may be currently qualified by the Securities and Exchange Commission, may be found at SuperYield.net.
                <br /><br />
                THIS SITE IS UNDER DEVELOPMENT. Super Yield is in no way responsible for it's current content.
                <br /><br />
                © 2019 Super Yield, LLC. All Rights Reserved.
                <br /><br />
                Site Credits:........
                <br /><br /><br />
            </div>
        </center>
    </div>
    <br />

</center>
